I want to make a personal website for a client. this is what pages he has: home, media, books, about

His home page copy:
 Science lights the path that religion lays.

Religion sets the direction that science takes. 

At the intersection of science and religion….

Science is often seen as answering the “how” questions, while religion typically answers the “why” questions. But both merge as soon as religious texts start describing elements of the natural world, and as soon as science touches upon philosophical issues.

It is that intersect, at the cross road of science, religion and phylosophy, that I am most interested in exploring.

This exploration is today essential because we live in a technological world where science tends to be used to evaluate every aspects of our lives… including our beliefs.

This site is thus dedicated to people, like myself, who wonder how far the reconciliation between science and religion goes.

In media:
He has embedded his YouTube videos

In books:
He has his books

In about:
Dr Adrien Chauvet is an interdisciplinary Muslim scientist dedicated to exploring the interplay between science and religion.

His research expertise bridges across the fields of physics, biology, chemistry and engineering. He studied fundamental physics in Strasbourg (France) and pursued a PhD in biophysics at Purdue University (USA, 2012). He then worked as a Marie-Curie fellow in bio-photonics at the Swiss Federal Institute of Technology in Lausanne (EPFL, Switzerland) and at the University of Geneva (Switzerland). In 2016 he was appointed assistant professor of physical chemistry at the University of Sheffield. In his research, Dr Chauvet develops and applies novel laser-based spectroscopies and imaging techniques to characterise and assist the synthesis of novel functional materials; be it solid materials, single molecules, molecular complexes, polymers, and whole living organisms.

Within the University of Sheffield, he is board member of the cross-faculty Energy Institute, for which he leads the development of early career researchers by upholding the equality, diversity and inclusion ethos. He is also part of the Institute for Sustainable Food as well as an active member of the University’s Muslim chaplaincy.

In parallel to his scientific training, Adrien studied Arabic and the fundament of classical Islamic sciences with local scholars. He was introduced to the fields of ‘Aquida, Tafsir, Fiqu and Usul al-Fiqu with Sheikh Tewfik Choukri, Indianapolis, USA. He was then exposed to Islamic spirituality through Imam Abdulwahid Kort, Lausanne, and Dr. Hani Ramadan, Geneva, Switzerland. He learned Arabic at university and through various intensive programs online as well as in person, locally and abroad.

Benefiting from his scientific and Islamic upbringing, Adrien is invested in the field of science and religion, and, for the past decade dedicated to researching, writing, delivering lectures, and organising events on the topic.
